.container {
    margin-top: 16px;
}

.content-fullContainer {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1000px) {
    .sidenav--open--contents {
        margin-left : 0;
    }

    .content-fullContainer {
        flex-direction: column;
    }
  }