.sidenav {
    background-color: #333;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    transform: translateX(-100%);
}

.sidenav--open {
    left: 0;
    top: 56px;
    width: 250px;
    z-index: 1;
    transform: translateX(0);
    transition: transform 0.4s ease;
}

.sidenav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.sidenav ul li {
    margin: 15px 0;
}

.sidenav ul li a {
    display: block;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.nav-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 25px;
    color: #fff;
    position: fixed;
    top: 20px;
    left: 20px;
}

.nav-toggle:focus {
    outline: none;
}

.nav-toggle i {
    padding-right: 10px;
}

.sidenav--open--contents {
    /* margin-left: 250px; */
    position: absolute;
    top: 56px;
    width: 100%;
    height: calc(100% - 56px);
    /* padding-top: 56px; */
    transform: translateX(0);
}

.sidenav--close--contents {
    /* padding-top: 56px; */
    position: absolute;
    top: 56px;
    width: 100%;
    height: calc(100% - 56px);
    transform: translateX(0);
}